---
import SectionContact from "./SectionContact.astro"
import marked from '../js/marked.js';

const { about, doc, email, image } = Astro.props
const html = marked(about);
const docHtml = marked(doc);
---
<section class="about">
    <div class="about__description">
        <h2>Sobre mí</h2>
        <div class="about__text" set:html={html}></div>
         <SectionContact doc={docHtml} email={email} />
    </div>
    <img src={`${import.meta.env.BASE_URL}${image}`} alt="" class="about__image" />
</section>

<style lang="scss">
    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        padding: 4rem;
        width: 100%;
        max-width: 1200px;

        &__description {
            min-width: 300px;
            max-width: 600px;
        }

        &__image {
            border-radius: 4px;
            object-fit: cover;
            width: 400px;
        }

    }
</style>
